<div class="container-lg">

	<div class="jumbotron">
		<!--  class="jumbotron" -->
		<h1 class="display-4">Test Emocionario para niños</h1>
		<p>INSTRUCCIONES: ¿Quiere saber si estas triste? ¿O algun otro tipo de animo?<br>
			Responda a las siguientes preguntas marcando una casilla en la que se sienta mas identificado.
		</p>
		<hr class="my-4">
		<p class="lead"></p>
	</div>

</div>

<ul>
	<li>0 - Casi nunca</li>
	<li>1 - A veces</li>
	<li>2 - Bastante</li>
	<li>3 - Muchas veces</li>
</ul>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>1. ¿Es necesario estar con las personas que aman? <br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>2. Me siento mal conmigo mismo por mis malas acciones. <br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>3. Creo que no es posible comprar la felicidad con dinero <br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>4. ¿Te diviertes en las actividades que haces a diario?<br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>5. Las personas me parecen buenas cuando están compartiendo algo conmigo<br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>6. Las conversaciones con mis padres son buenas para mi<br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>7. Me gusta llevar juguetes con mis amigos porque ellos siempre son buenos conmigo<br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>8. No hago desorden o berrinche cuando me enojo <br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>9. Las cosas que me rodean tienen mucho valor para mi<br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 15px 10px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-5">
			<p>10. ¿crees que es normal llorar? <br>
				<input type="radio" name="1" value="a" />
				<label>1</label>
				<input type="radio" name="2" value="b" />
				<label>2</label>
				<input type="radio" name="3" value="c" />
				<label>3</label>
				<input type="radio" name="4" value="d" />
				<label>4</label>
			</p>
		</div>
	</div>
</div>


<div class="container" style="padding: 30px 100px;">
	<div class="row">
		<div class="col-xs-20 col-sm-20 col-md-10">
			<p><b>VALORACIÓN: A continuación, sume todas las puntuaciones
					obtenidas y busque el rango en el que se encuentra.</b></p>
					<p>• Tenga en cuenta que si a las preguntas 3, 7 y 8 les dio un valor de
						3 o 4, pero sus resultados aun así no son favorables, entonces
						tiene momentos de felicidad buenos en su vida pero que no
						cambian su estado de ánimo al recordarlos en este momento.
						Lo recomendable es que consulte a un especialista porque puede <br>estar deprimido.
					</p>
		</div>
	</div>
</div>

<div class="container" style="padding: 50px 250px;">
	<div class="row">
		<div class="col-xs-10 col-sm-6 col-md-10">
			
		</div>
	</div>
</div>
<div class="container" style="padding: 25px 20px;">
	<div class="row">
		<div class="col-xs-20 col-sm-10 col-md-4">
			<p>• Entre 0 y 15 puntos: Es normal que en la vida haya momentos en los que se encuentre más desanimado, no
				obstante, eso no significa que usted esté triste o deprimido, al contrario, tiene un momento de
				felicidad en su vida en estos momentos.</p>
		</div>
		<div class="col-xs-7 col-sm-10 col-md-4">
			<p>• Entre 15 y 25 puntos: Usted podría tener tristeza momentánea o
				miedo a su entorno, esto, por como respondió a las preguntas
				sobre la vida cotidiana, pero, de alguna manera puede que su
				estado de ánimo sea enojo, frustración o está aburrido, le
				aconsejamos cambiar su rutina del día, o agregar algo que le
				beneficie como ejercicio para que pueda despejar su mente.
			</p>
		</div>
		<div class="col-xs-7 col-sm-10 col-md-4">
			<p>• A partir de 25 puntos: Esta realmente triste o deprimido y no es
				que sea momentáneo su estado de ánimo o condición. Puede
				recuperar su motivación y superar este problema si trabaja en
				equipo con un especialista.

			</p>
		</div>
	</div>
</div>