
<div class="container-lg">

      <div class="jumbotron">
       <!--  class="jumbotron" -->
     
        <h1 class="display-4">Test Emocionario</h1>
        <p class="lead">Este test te ayudara a saber acerca de tu estado de animo en este momento. </p>
        <hr class="my-4">
        <p class="lead"></p>
        <!-- <p><a routerLink="/about" class="rk-menu__link">Test para Niños</a></p> -->
       <!--  <a [routerLink]="[ '/about', routeParam ]">name</a> -->
       
        <p><a  routerLink="/Tadulto" class="btn btn-primary btn-lg" role="button">Test para Niños</a></p>

     
        
        <p><a routerLink="/Tadoles" class="btn btn-primary btn-lg" role="button">Test para Adolescentes</a></p>
        <p><a routerLink="/Tnino" class="btn btn-primary btn-lg" role="button">Test para Adultos</a></p>

      </div>

  </div>

  <!-- Sección de Artículos -->
  <div class="container" style="padding: 15px 10px;">
    <div class="row">
      <div class="col-xs-19 col-sm-6 col-md-4">
        <h2>Que son los estados de animo?...</h2>
        <figure></figure>
        <p>Son fenomenos psiológicos que representan aquellas sensaciones y sentimientos qeu tiene el ser humano al relacionarse son sus semejantes y con el medio en general</p>
       
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Tipos de estados de animo</h2>
        <figure></figure>
        <p>Existen varios tipos de estados de animo como alegría, enojo, tristeza y desesperación!</p>
        
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4">
          <h2>Como hacer el test?...</h2>
        <figure></figure>
        <p>Solo contesta las preguntas que estan en este apartado!</p>
      
      </div>

    </div>
  </div><!-- Fin Sección de Artículos -->


  <!-- Sección de Multimedia -->
  <div class="container" style="padding: 15px 10px;">
    <div class="row">

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/multimedia/Estadoanimo.jpg" target="_blank">
            <img src="assets/multimedia/Estadoanimo.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 0%;">
            <iframe width="0" height="0" src="https://www.youtube.com/embed/p34YQmHp8Qc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
         
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/multimedia/Tipoanimo.jpg" target="_blank">
            <img src="assets/multimedia/Tipoanimo.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p></p>
            </div>
          </a>
        </div>
      </div>
<!--  -->
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 0%;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TgOu00Mf3kI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="caption"> <p>Pesdes escuchar musica mientras estas en la pagina...</p> </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 0%;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HSLCZHjKCRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="caption"> <p>...</p> </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 0%;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4N1iwQxiHrs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="caption"> <p>...</p> </div>
        </div>
      </div>

    </div>
    <hr>
  </div><!-- Sección de Multimedia -->
